{% extends "auctions/layout.html" %}
{% block body %}
	<h2>Active Listings</h2>
	<ul>
	{% for listing in active_listing %}
	<div class="row">
		<div class = "col-3  mt-2 mb-2" >
		{% if listing.image %}
			<img class=" blcen img-thumbnail" src="{{ listing.image }}" >
		{% else %}
			<img class="blcen img-thumbnail" src="https://bit.ly/3u9Y1MA">
		{% endif %}		
		</div>
		<div class="col-1 mt-2 mb-2"></div>
		<div class = "col-8 mt-2 mb-2">
			<li class = "nomarker"><strong>{{ listing.title }}</strong></li>
			<ul>	
				<li class = "nomarker"> {{ listing.description }} </li>
				<li class = "nomarker">Created {{ listing.start_date }} by <strong>{{listing.seller.username}} </strong></li>
			</ul>
		</div>
	</div>
	<hr>
	{% empty %}
			<p>There is no active listing at the moment.</p>
	{% endfor %}
		
	</ul>
{% endblock %}